.profileContainer {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #202020;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.profileForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
  
}

.input {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #303030;
    color: white;
    text-align: center;
}

.input:focus {
    outline: none;
    border-color: white;
}

.button {
    padding: 10px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: white;
    color: black;
}

.error {
    color: #ff4d4f;
    font-size: 14px;
}
