.tagContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.tagButton {
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.selectedTag {
  background-color: white;
  color: #202020;
}

@media (max-width: 768px) {
  .tagContainer {
    justify-content: center;
  }
}
